


.my-ask {
    margin: 20px;
    border: 2px solid #af2367;
    padding: 30px;
    background-color: #ff003c;
}





.my-class {
    margin: 20px;
    border: 2px solid green;
    padding: 30px;
    background-color: yellow;
}