.my-ask {
    margin: 20px;
    border: 2px solid hsl(331, 98%, 45%);
    padding: 30px;
    background-color: hsl(231, 30%, 73%);
}


.my-class {
    margin: 20px;
    border: 2px solid green;
    padding: 30px;
    background-color: yellow;
}




.sidebar {
    width: 30%;
    float: right;
    background-color: rgba(90, 20, 76, 0.265);
  }





.column {
    width: 450px;
    float: left;
    width: 50%;
    border: solid black;
    border-width: 1px;
    background-color: orange;
    margin-bottom: 10px;
  }




